.center-text {
    text-align: center;
}
.pad-top{
    padding-top: 50px;
}
.pointer{
    cursor: pointer;
}
.right-text{
    text-align: right;
}
.v-center{
    vertical-align: middle !important;
}
.edit-table:hover{
    background :#FDD835;
    color: white;
}
.delete-table:hover{
    background: #E53935;
    color: white;
}
body{
    background-image: url('../../assets/images/bg.jpg') !important;
}
